<a href="https://colab.research.google.com/github/Kaiyoumaru/python-basic-kadai/blob/kadai_005/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1+5)

6

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)

63
18
90
10.0
5

In [ ]:
print(type(30 / 3))

<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%

In [ ]:
print("晴れ" * 5)
print("晴れ" + "晴れ" + "晴れ" + "晴れ" + "晴れ")

晴れ晴れ晴れ晴れ晴れ
晴れ晴れ晴れ晴れ晴れ

In [ ]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

7.5
私の名前は侍太郎です。妹の名前は花子です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'アメリカ', 'フランス', '日本', 'イギリス'}
{'アメリカ', 'フランス', '日本', 'ドイツ', 'イギリス'}
{'アメリカ', 'フランス', '日本', 'ドイツ'}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": "36", "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと値）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': '36', 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
print(45 + 18) # 算術演算子を使った場合の戻り値を出力する
print(45 > 18) # 比較演算子を使った場合の戻り値を出力する

63
True

In [ ]:
print("5" == 5)

False

In [ ]:
num1 = 5
num2 = "5"

if num1 == int(num2):
  print("num1とnum2は等しいです。")

num1とnum2は等しいです。

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4であれば、「大当たりです」という文字列を出力する
if num == 4:
    print("大当たりです")

4
大当たりです

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
  print("大当たりです")
else:
  print("はずれです")

4
大当たりです

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値を出力
print(num)

# 変数numの値が4なら「大当たりです」、3なら「当たりです」、それ以外なら「はずれです」と出力する
if num == 4:
  print("大当たりです")
elif num == 3:
  print("当たりです")
else:
  print("はずれです")

0
はずれです

In [ ]:
# ランダムな整数を利用するために、randomモジュールをインポート
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値が4なら
print(num)

# すべての条件が成り立つ場合にのみ処理を行う（変数numの値が2）
if 1 < num and num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

# 1つでも条件が成り立てば処理を行う（変数numの値が1または3）
if num == 1 or num == 3:
  print("変数numは1または3です")
else:
  print("or条件が成り立ちませんでした")

if 1 < num < 3:
  print("変数numは1より大きく、3より小さいです")
else:
  print("and条件が成り立ちませんでした")

0
and条件が成り立ちませんでした
or条件が成り立ちませんでした
and条件が成り立ちませんでした

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

for i in range(1, 11):
  # 変数numに1～20までのランダムな整数を代入する
  num = random.randint(1, 20)

  print(f"{i}回目の結果は{num}です。")

  # 変数numの値が20であれば、break文で繰り返し処理を強制終了する
  if num == 20:
    print("20が出たので繰り返し処理を強制終了します。")
    break

1回目の結果は17です。
2回目の結果は9です。
3回目の結果は5です。
4回目の結果は13です。
5回目の結果は6です。
6回目の結果は6です。
7回目の結果は10です。
8回目の結果は20です。
20が出たので繰り返し処理を強制終了します。

In [ ]:
for i in range(1, 11):
  # ループ変数iの値が奇数（2で割った余りが1）であれば、値を出力せずにcontinue文で次のループに進む
  if i % 2 == 1:
    continue

  print(i)

2
4
6
8
10

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0～4までのランダムな整数を代入する
num = random.randint(0, 4)

# カウンタ変数を用意する
i = 1

# 変数numの最初の値を出力する（確認用）
print(f"最初の値は{num}です。")

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
  # 変数numに0～4までのランダムな整数を代入する
  num = random.randint(0, 4)

  # 次の条件式で比較される、変数numの現在の値を出力する
  print(f"現在の値は{num}です。")

  # カウンタ変数の値が5であれば、break文で繰り返し処理を強制終了する
  if i == 5:
    print("5回目なので繰り返し処理を強制終了します。")
    break

  # 次の条件式で比較される、変数numの現在の値を出力する
  print(f"現在の値は{num}です。")
  # カウンタ変数の値を1増やす
  i = i + 1

最初の値は1です。
現在の値は3です。
現在の値は3です。
現在の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は1です。
現在の値は1です。
現在の値は3です。
5回目なので繰り返し処理を強制終了します。

In [ ]:
# ランダムな整数を利用するため、記述が必要です。
import random

# 合計用の変数を用意する
count = 0

# 変数sumの値が20以上になるまで繰り返し処理を行う
while count < 20:
  # 変数numに1～10までのランダムな整数を代入する
  num = random.randint(1, 10)

  print(f"{num}が出ました。")

  # 変数numの値が偶数（2で割った余りが0）であれば、加算せずにcontinue文でループに進む
  if num % 2 == 0:
    print("偶数なので加算しません。")
    continue
  else:
    # 変数sumに変数numの値を加算する
    count = count + num
    print(f"現在の合計は{count}です。")

5が出ました。
現在の合計は5です。
4が出ました。
偶数なので加算しません。
4が出ました。
偶数なので加算しません。
9が出ました。
現在の合計は14です。
3が出ました。
現在の合計は17です。
8が出ました。
偶数なので加算しません。
3が出ました。
現在の合計は20です。

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesの要素を1つずつ順番に出力する
for user_name in user_names:
  print(user_name)

侍太郎
侍一郎
侍二郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# 連想配列personal_dataのキーと値を1つずつ順番に出力する
for key, value in personal_data.items():
  print(f"{key}は{value}です。")

# 連想配列personal_dataの要素を1つずつ順番に出力する
for value in personal_data.values():
  print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 配列user_namesのインデックスと値を1つずつ順番に出力する
for index, value in enumerate(user_names):
  print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍二郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

# 検索したいユーザー名を代入する変数
target = "侍二郎"

for user_name in user_names:
  print(user_name)

  # 変数user_nameと変数targetの値が一致すれば、break文で繰り返し処理を強制終了する
  if (user_name == target):
    print(f"{target}さんが見つかったので、繰り返し処理を強制終了します。")
    break

侍太郎
侍一郎
侍二郎
侍二郎さんが見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下の通りです。")

for key, value in score.items():
  # 変数valueの値（点数）が70より小さければ、キー（科目名）と値（点数を出力せずにcontinue文で次のループに進む）
  if (value < 70):
    continue
  print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [ ]:
# 朝の挨拶を出力する関数を作成する
def say_good_morning():
  print("おはようございます！")
  print("昨日はよく眠れましたか？")
  print("今日も一日頑張りましょう！")

# 夜のあいさつを出力する関数を作成する
def say_good_evening():
  print("こんばんは！")
  print("今日も一日お疲れ様でした。")

# 朝の挨拶を出力する関数を呼び出す
say_good_morning()

# 夜の挨拶を出力する関数を呼び出す
say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れ様でした。

In [ ]:
# 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
  # 与えられた引数priceに送料を加算し、変数totalに代入する
  total = price + 500

  # 変数totalの値を出力する
  print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
calculate_total(1200)

1700円

In [ ]:
def add_two_arguments(price, shipping_fee):
  # 与えられた引数priceと引数shipping_feeを加算し、変数totalに代入する
  total = price + shipping_fee

  # 変数$totalの値を出力する
  print(f"{total}円")

# 関数を呼び出し、引数として購入金額と送料を渡す
add_two_arguments(1200, 500)

1700円

In [ ]:
# 購入済みかどうかを判定する変数
purchased = True

# 戻り値を返す関数を定義する
def is_purchased():
  if (purchased):
    return True
  else:
    return False

# 戻り値を返す関数を条件式に使う（Trueであれば、処理が実行される）
if (is_purchased()):
  print("商品は購入済みです。")

商品は購入済みです。

In [ ]:
def show_user_name():
  # ローカル変数を定義する
  user_name = "侍太郎"

  # ローカルスコープの範囲内でローカル変数を使う
  print(user_name)

show_user_name()

# ローカルスコープの範囲外でローカル変数を使う（エラーが発生する）
print(user_name)

侍太郎

NameError: name 'user_name' is not defined

In [ ]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
  # ローカル変数を定義する
  user_name = "侍太郎"

  # ローカル変数の範囲内でローカル変数を使う
  print(user_name)

show_user_name()

# グローバル変数の範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [ ]:
class Product:
  def __init__(self):
    # 属性を定義する
    self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

シャンプー

In [ ]:
class Product:
  def __init__(self):
    self.name = ""

  # メソッドを定義する
  def set_name(self, name):
    self.name = name

  def show_name(self):
    print(self.name)

# インスタンス化する
coffee = Product()

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

コーヒー

In [ ]:
class User:
  # コンストラクタを定義する
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [ ]:
!rm /etc/localtime
!ln -s /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
!date

Mon Feb 19 07:45:01 PM JST 2024

In [ ]:
# timeモジュールをインポート
import time

# 現在の日時を指定したフォーマットで出力する
print(time.strftime("%Y年%m月%d日%H時%M分%S秒", time.localtime()))

2024年02月19日19時51分29秒

In [ ]:
# timeモジュールをインポート
import time

# 現在時刻をUNIXタイムスタンプで取得
print(time.time())

1708340048.7077668

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 取得した日付date_timeの日時を特定のフォーマットで出力する
print(date_time.strftime("%Y年%m月%d日%H時%M分%S秒"))

2015年03月19日12時15分30秒

In [ ]:
# datetimeモジュールをインポート
import datetime

# 指定した日時を取得する
date_time = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

print(date_time)

# 年,月,日,時,分,秒だけをそれぞれ取り出すことも可能です
print(date_time.year)
print(date_time.month)
print(date_time.day)
print(date_time.hour)
print(date_time.minute)
print(date_time.second)

2015-03-19 12:15:30
2015
3
19
12
15
30

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 指定した日時を取得する
datetime = datetime.datetime.strptime("2015-03-19 12:15:30", "%Y-%m-%d %H:%M:%S")

# 2つのdatetimeの差を取得し、変数intervalに代入する（interval=間隔）
interval = now - date_time

# 取得した日時の差を特定のフォーマットで出力する
print(f"総日数は{interval.days}日です。")

総日数は3259日です。

In [ ]:
# datetimeモジュールをインポート
import datetime

# 現在時刻を取得する
now = datetime.datetime.now()

# 1年間の日数差を変数td_1yに代入する
td_1y = datetime.timedelta(days=366)

# 現在の日時に1年を加算し、変数addに代入する
add = now + td_1y

# 3日間の日数差を変数td_3dに代入する
td_3d = datetime.timedelta(days=3)

# 現在の日時から3日を減算し、変数subに代入する（sub=「減算」を意味するsubtractionの略）
sub = now - td_3d

# 加算・減算した日時を特定のフォーマットで出力する
print(add.strftime("現在から1年後は%Y年%m月%d日%H時%M分%S秒です。"))
print(sub.strftime("現在から3日前は%Y年%m月%d日%H時%M分%S秒です。"))

現在から1年後は2025年02月19日21時00分34秒です。
現在から3日前は2024年02月16日21時00分34秒です。

In [ ]:
top_side = 10
bottom_side = 20
height = 5
unit = "㎠"
print(str((top_side + bottom_side) * height / 2) + unit)

75.0㎠